<div id="cern-toolbar">
    <h1><a href="http://home.cern" title="CERN">CERN <span>Accelerating science</span></a></h1>
        <ul>
            <li><a href="http://cern.ch/directory" title="Search CERN resources and browse the directory" class="cern-directory">Directory</a></li>
        </ul>
</div>